<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="assets/img/BPS_Hero Default.png" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>About Us</h2>
            <p>
              Get to know who we are and where we do business. From our leadership team to our dealer network, the men and women of Badger are ready to serve you.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">The Badger Advantage</a></h4>
            <p class="description">At Badger, we engineer a more rewarding ownership experience to help you accomplish more.

            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Testimonials</a></h4>
            <p class="description">
              We are confident that our equipment is among the best in the industry and is accompanied by unmatched customer service. But don't take it from us. Hear about the character of our company and the quality of our products straight from real Kubota customers, dealers, and employees.
              Learn More
            </p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= About Lists Section ======= -->
  <section class="about-lists">
    <div class="container">

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
          <span>01</span>
          <h4>Our Core Values</h4>
          <p>Trust, Reliability, Value. When you need all three, ride a Badger. We’re here to do the job. All the jobs.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
          <span>02</span>
          <h4>Our Leadership</h4>
          <p>At Badger, we’re the top-selling brand in the industry.  That’s because do it right the first time, every time.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
          <span>03</span>
          <h4>Our History</h4>
          <p>We’ve been here since the beginning. Remember that excavator Fred Flintstone drove? We made that.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
          <span>04</span>
          <h4>Technology & Innovation</h4>
          <p>Badger is dedicated to bringing you the latest in equipment, parts and services. We’re all you need to get the job done.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
          <span>05</span>
          <h4>Sustainability</h4>
          <p>We’re committed to making sure our planet is safe for the next generation—and the next after that.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
          <span>06</span>
          <h4>Investor Relations</h4>
          <p>There’s no safer place to invest. Look over our financial statements. Quarter after quarter. A Badger never quits.</p>
        </div>

      </div>

    </div>
  </section><!-- End About Lists Section -->

  <!-- ======= Counts Section ======= -->
  <section class="counts section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
          <div class="count-box">
            <i class="icofont-simple-smile" style="color: #20b38e;"></i>
            <span data-toggle="counter-up">122540</span>
            <p>Happy Customers</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="icofont-document-folder" style="color: #c042ff;"></i>
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
          <div class="count-box">
            <i class="icofont-live-support" style="color: #46d1ff;"></i>
            <span data-toggle="counter-up">10000</span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
          <div class="count-box">
            <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
            <span data-toggle="counter-up">241</span>
            <p>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  
