<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-6 faq-item" data-aos="fade-up">
          <h4>Where can I buy Badger Equipment?</h4>
          <p>
            Badger Equipment can be purchased from an authorized Dealer or Distributor in your area.  Parts and Services can be purchased directly from our online parts catalog.
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
          <h4>Does Badger offer any contracting services?</h4>
          <p>
            Yes! Use our quote form above to give us a little more information about your project and a contracting specialist will be in touch.
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
          <h4>Is Badger an American company?</h4>
          <p>
            We sure are. All Badger heavy equipment, engine blocks, power generation systems and services and made right here in U.S.A. using American sourced materials and labor.  We are, and have always been, “Made in the U.S.A.”
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
          <h4>How long has Badger been around?</h4>
          <p>
            Badger Equipment has been around since the dawn of time. Noah built his Ark using Badger tools.  Moses staff? Carved with a Badger lathe.  There are cave drawings in Lascaux portraying Neolithic-man on Badger tractors. It’s true.
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
          <h4>Is there a Badger dealer or distributor near me?</h4>
          <p>
            There probably is.  Use our Dealer Locator Tool at the top of the page to find your closest authorized Badger Dealer. Or call us at 1-800-BADGER-TOUGH
          </p>
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
          <h4>Can you rent Badger Equipment for a small job?</h4>
          <p>
            Many dealers and distributors make Badger equipment available for rent.  No job is too small or too larger for a Badger to tackle.  Our Dealer Locator Tool will indicate which suppliers also rent equipment.
          </p>
        </div>

      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->