<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div id="carouselSlideWrapper" class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('assets/img/BPS_Hero01.png');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Badger Equipment</span></h2>
                <p class="animate__animated animate__fadeInUp">It’s no wonder Badger is best selling brand of industrial equipment in the world. When you need to do the hard jobs—the jobs no one else has the guts to tackle—that’s when you want a Badger.  Take a look around.  All you’ll see is the hardest working, most reliable machinery known to man.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('assets/img/BPS_Hero02.png');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Yeah, we got this</h2>
                <p class="animate__animated animate__fadeInUp">At Badger, it’s not just our superior equipment that gets the job done.  It’s also the best services in industry.  Whether it’s buying parts online, finding the top contractors in your area, or locating a certified Badger Dealer, we’ve got you covered. Our Service Professionals are the best in the industry.  It’s not just our equipment that’s tough enough.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('assets/img/BPS_Hero03.png');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">When it has to be done right</h2>
                <p class="animate__animated animate__fadeInUp">Badger Equipment is designed to be the best. When you’re at at a worksite, you can’t afford failure. Badger is not just built to last, it’s built to perform. The first time and every time.  Trust Badger to get the job done.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->