<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">    
    <div class="container clearfix">
      
      <div class="ecomm float-right">
       
        <a href="#" id="goToAccount"><i class="fa fa-user" aria-hidden="true"></i><span>&nbsp;My Account</span></a>
    
        <a href="#" id="cartHeader" class="chead cartHeaderLink">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span>My Cart:
            0&nbsp;Items
            &nbsp;$0.00
          </span>
        </a>
      
        <a href="#login" class="goToLogin cc_goto_login"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Login</a>
      
        <div class="search_form cc_search_form float-right">
          <div class="navbar-form cc_navbar_form" role="search">
            <div class="input-group cc_input-group">
              <input id="searchText" type="text" class="form-control search_input cc_search_input ui-autocomplete-input" placeholder="Search Products" title="Product search, at least 2 characters are required" data-trigger="focus" autocomplete="off">
              <span class="input-group-btn">
                <button id="doSearch" class="btn btn-default search_button" type="Submit" data-original-title="" title=""><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </section>